*{
  background-Color:#D1DFE8;
}
.title{
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 40px;
  margin-top: 50px;
}
.photo{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 30px;
}
.name{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.email{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.button{
  display: flex;
  justify-content: center; 
  align-items: center;
}
/* .login{
  margin-right: 20px;
} */
