@media screen and (min-width:1000px){
    .player{
        width: 1000px;
        height: 500px;
    }
}

@media screen and (min-width:500px){
    .player{
        width: 500px;
        height: auto;
    }
}